@import '_base/fonts-and-button.scss';
@import '_base/base.scss';
@import '_base/header.scss';
@import '_base/footer.scss';
@import '_base/crumb.scss';

p{
  font-size: 60px;
  font-weight: 300;
}
img{
  margin: 0 auto;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}