extends ./base/base

//- connect only libs css
block libcss 

//- connect only custom css
block css

block title
    title="Title value"

block content
    main.index-page
        include base/crumb.pug
        .subtitle1 asdasd
        p index page
        .btn button
    
    include modal/modal.pug

//- connect only libs js
block libscripts

//- connect only custom js
block scripts